@model LeaseVehicle.Models.Category
@{
    ViewBag.Title = "Category Details";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Category : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayName("Status :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "ViewCategory")
</p>
