<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              
                <center>@Html.ActionLink("Leasing Vehicle", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</center>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (Session["Username"] == null)
                        { }

                        else
                        {
                            <li>@Html.ActionLink("Category", "ViewCategory", "Category")</li>
                            <li>@Html.ActionLink("Brand", "ViewBrand", "Brand")</li>
                            <li>@Html.ActionLink("Color", "Index", "Color")</li>
                            <li>@Html.ActionLink("Vehicle", "Index", "VehicleDetails")</li>
                            <li>@Html.ActionLink("Lead", "Index", "Lead")</li>
                            <li>@Html.ActionLink("Quote", "Index", "Quotes")</li>
                            <li>@Html.ActionLink("Invoice", "Index", "Invoice")</li>
                            <li style="position:absolute;right:0px"> @Html.ActionLink("LogOut", "Logout", "Login") </li>

                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
